.processingForm {
	formItemStyleName: 'struktorLabel';
	formInputStyleName: 'struktorInput';
	requiredLabelStyleName : 'struktorLabel';
	formInputWidth: 150;
	formLabelWidth: 110;
}
.struktorLabel {
	labelStyleName:'labelStyleName';
}
.labelStyleName {
	fontSize:10;
	color:#333333;
}
.struktorInput {
	fontSize:10;
	color:#333333;	
}
.detailsTitle {
	color:#666666;
	fontSize:18;	
}
.formItems {
	fontSize:10;
	color:#333333;	
}
.wheelLogout {
	left: 4;
	bottom: 4;
	color: #FFFFFF;	
	fontSize:10;
	backgroundColor: #333333;
	borderColor: #333333;
	borderStyle: solid;
	cornerRadius: 4;
	paddingTop: 2;
	paddingBottom: 2;
	paddingLeft: 5;
	paddingRight: 5;
}		
