/*
* CSS File for the My Contacts module 
*/

/*-- Module styles --*/
.contactsTools {
	skin: Embed("/assets/images/icons/small/tools.png");	
}
.contactsAdd {
	skin: Embed("/assets/images/icons/small/add_contact.png");	
}
.popupHeader {
	backgroundColor: #999999; 
	color: #ffffff;
}
/*-- End Module styles --*/

.editForm {
	borderStyle:"solid";
	borderThickness:5;
	borderColor:#f3f3f3;
	backgroundColor:#f3f3f3;
	cornerRadius:5;
	dropShadowEnabled: true;
   	shadowDistance: 4;
   	shadowDirection: center;
}	
.contactElementsTabBar {
	fontSize:10;
	paddingRight:5;
	color:#FFFFFF;	
}	
.elementsHeader {
	borderSkin:ClassReference("com.enilsson.graphics.skins.SimpleGradientBorder");
	fillColors:#02318c, #13162f;
}	


/*-- Search List styles --*/
.listHeader {
	borderSkin:ClassReference("com.enilsson.graphics.skins.SimpleGradientBorder");
	fillColors:#02318c, #13162f;
}
.listFooter {
	borderSkin:ClassReference("com.enilsson.graphics.skins.SimpleGradientBorder");
	fillColors:#ededed, #cccccc;
	borderSides:"right,left,bottom";
	borderColor:#999999;
	borderStyle:"solid";
}			
.listDesc {
	color:#FFFFFF;
	fontSize:10;
}
.listItemTitle {
	color:#333333;
	fontSize:13;
	fontWeight:bold;
}
.listItemDesc {
	fontSize:10;
	color:#666666;
}
.contactsSearchList {
	backgroundColor:transparent;
	borderStyle:solid;
	borderColor:#999999;
	borderSides:left,bottom,right;
	cornerRadius:0;
	alternatingItemColors:#FFFFFF, #EDEDED;	
}	
/*-- End Search List styles --*/


/*-- Contact Form styles --*/
.contactsVSForm {
	formItemStyleName: 'struktorLabel';
	formInputStyleName: 'struktorInput';
	requiredLabelStyleName : 'struktorLabel';
	formInputWidth: 150;
	labelWidth:75;
	verticalGap:0;
}
.struktorLabel {
	labelStyleName:'labelStyleName';
}
.groupLabelStyleName {
	fontSize:12;
	fontWeight:bold;
}
.labelStyleName {
	fontSize:10;
}
.struktorInput {
	fontSize:10;	
}
.formFooter {
	borderSkin:ClassReference("com.enilsson.graphics.skins.SimpleGradientBorder");
	fillColors:#ededed, #cccccc;
	borderSides:"top";
	borderColor:#999999;
	borderStyle:"solid";
}	
.sharedWarning {
	borderSkin:ClassReference("com.enilsson.graphics.skins.SimpleGradientBorder");
	fillColors:#e0e0e0, #999999;
	color:#333333;
	fontSize:10;
	paddingTop:1;
}
/*-- End Contact Form styles --*/


/*-- Pledge History styles --*/
.pledgeTitle {
	color:#333333;
	fontSize:12;
	fontWeight:bold;	
}
.pledgeDesc {
	fontSize:9;
	color:#999999;
}
.pledgesLength {
	fontWeight:bold;	
}
/*-- End Pledge History styles --*/


/*-- Actions Links styles --*/
.actionsTextLink {
	fontSize: 11;
	fontWeight: bold;
	color: #333333;
}
.actionsLinkBox {
	paddingTop: 10;
	paddingBottom: 10;
	paddingLeft: 15;	
	color: #333333;
	verticalAlign: middle;
}
/*-- End Actions Links styles --*/


/*-- Contact Tools styles --*/
.fileProgressBox {
	borderStyle:"solid";
	borderThickness:1;
	borderColor:#999999;
	backgroundColor:#999999;
	color:#FFFFFF;
	cornerRadius:5;
   	paddingTop:15;
   	paddingBottom:15;
   	paddingLeft:15;
   	paddingRight:15;
   	horizontalCenter:0;
   	verticalCenter:0;
}		
.uploadBox {
	verticalGap:3;
	paddingTop: 5;
	paddingBottom: 10;
	backgroundColor: #ffffff;
	cornerRadius: 8;
	borderColor: #ffffff;
	borderStyle: solid;
	borderThickness: 2;	
	horizontalAlign: center;
}	
.uploadBoxTitle {
	fontSize: 14;
	fontWeight: bold;	
}		
.comboHeader {
	fontSize:9;
	fontWeight:normal;
	color:#000000;
}		
/*-- End Contact Tools styles --*/