/*
* CSS File for the Overview module 
*/

/*-- General Styles --*/
.overviewAppBar {
   	highlightAlphas: 0.05, 0;
   	backgroundColor: #081b5a;
   	backgroundAlpha: 1;
   	cornerRadius: 4;
   	shadowDistance: 1;
   	paddingTop:9;
}
.controlBarTitle {
	color:#FFFFFF;
	fontSize:9;
	letterSpacing:1;	
}
.controlMore {
	right:6;
	top:6;
	upSkin: Embed("../../images/qcm2_more_arrow.png");
	overSkin: Embed("../../images/qcm2_more_arrow.png");
	downSkin: Embed("../../images/qcm2_more_arrow.png");
}
.resetLayout {
	bottom: 0;
	right: 50;
	color:#333333;
	fontSize:9;
	letterSpacing:1;
}
/*-- End General styles --*/


/*-- Announcements styles --*/
.announceTitle {
	color:#6e0a10;
	fontSize:12;
	fontWeight:"bold";	
}
.announceTitleList {
	color:#6e0a10;
	fontSize:10;
	fontWeight:"bold";	
}
.announceDate {
	color:#6e0a10;
	fontSize:9;	
}
.announceDesc {
	paddingRight:10;
	fontSize:10;
	textIndent:0;
}
.announceLink {
	dropShadowEnabled: true;
   	shadowDistance: 4;
   	shadowDirection: center;
}
.announceArchive {
	alternatingItemColors:#FFFFFF,#DFDFDF;
}
/*-- End Announcements styles --*/


/*-- My Fundraising Chart styles --*/
.fundraisingChart {
	fontFamily:Arial;
	fontSize:10;
	color:#333333;
  	paddingLeft:5;
  	paddingRight:5;
} 
.chartLegend {
	fontSize:7;
	fontWeight:normal; 
    color:#333333;
    backgroundColor:#f4f4f4;
}
.rangeLabelStyle {
	fontSize:9;
	fontWeight:"bold";	
}
.sliderText {
	fontSize:9;	
}
/*-- End My Fundraising Chart styles --*/


/*-- Quick Stats styles --*/
.quickStatsList {
	backgroundColor:#FFFFFF;
	verticalGap:0;	
}
.lightLine {
	 backgroundColor:#ffffff;
	 verticalAlign:middle;
	 paddingTop:1;
	 paddingBottom:1;	
}
.darkLine {
	 backgroundColor:#f3f3f3;
	 verticalAlign:middle;
	 paddingTop:1;
	 paddingBottom:1;	
}
.qsText {
	fontSize:10;
}
.qsAmt {
	fontSize:10;
	fontWeight:bold;
}

/*-- End Quick Stats styles --*/