/**
* Pledge Workspace Styles 
*/

/*-- Form Header styles --*/
.tabBarBg {
	backgroundImage:Embed("../../images/skins/qcm2_buttonbar_bg.png", 
		scaleGridTop="8", scaleGridBottom="26", 
		scaleGridLeft="12", scaleGridRight="35");
	backgroundSize:"100%";	
}
.tabBarBgAdmin {
	backgroundImage:Embed("../../images/skins/qcm2_buttonbar_bg_admin.png", 
		scaleGridTop="8", scaleGridBottom="26", 
		scaleGridLeft="12", scaleGridRight="35");
	backgroundSize:"100%";	
}
.titleStyle {
	color:#FFFFFF;
	fontSize:14;
	fontWeight:"bold";
}
/*-- End Form Header styles --*/


/*-- Form Footer styles --*/
.buttons {
	backgroundImage:Embed("../../images/qcm2_calllog_footer.png", 
		scaleGridTop="10", scaleGridBottom="20", 
		scaleGridLeft="10", scaleGridRight="90");
	backgroundSize:"100%";	
}								
.backMove {
	upSkin: Embed("../../images/skins/qcm2_backbtn_up.png");
	overSkin: Embed("../../images/skins/qcm2_backbtn_over.png");
	downSkin: Embed("../../images/skins/qcm2_backbtn_up.png");
	disabledSkin: Embed("../../images/skins/qcm2_backbtn_disabled.png");
}
.forwardMove {
	upSkin: Embed("../../images/skins/qcm2_forwardbtn_up.png");
	overSkin: Embed("../../images/skins/qcm2_forwardbtn_over.png");
	downSkin: Embed("../../images/skins/qcm2_forwardbtn_up.png");
	disabledSkin: Embed("../../images/skins/qcm2_forwardbtn_disabled.png");
}
.saveBT {
	fontWeight:bold;
	fontSize:10;
	icon:Embed('../../images/icons/small/add.png');
}
.clearBT {
	fontWeight:bold;
	fontSize:10;
	icon:Embed('../../images/icons/small/fullscreen.png');
}	
.successFieldsPopup {
	verticalGap:0;
	cornerRadius:6;
	paddingBottom:5;
	paddingLeft:5;
	paddingRight:5;
	paddingTop:5;
	arrowSide:bottom;	
	gradientColors:#c9e056,#99c22d;
	color:#FFFFFF;
}
.errorFieldsPopup {
	verticalGap:0;
	cornerRadius:6;
	paddingBottom:5;
	paddingLeft:5;
	paddingRight:5;
	paddingTop:5;
	arrowSide:bottom;	
	gradientColors:#e17248,#d6400d;
	borderColor:#e17248;
	color:#FFFFFF;
}
.epHeading {
	fontSize:14;
	fontWeight:bold;	
	textAlign:center;
}
.epTitle {
	fontSize:11;	
	paddingBottom:4;
}
.epDesc {
	fontSize:9;	
	paddingLeft:10;
}
/*-- End Form Footer styles --*/


/*-- General Styles --*/
.processingText {
	fontFamily: silkScreen;
	color:#000000;
	fontSize:8;
	fontWeight:'normal';	
}
.searchBoxStyleName {
	textInputStyleName:'searchTextBox';	
}
.searchTextBox {
	fontSize:14;	
}
.formSubHeading {
	fontSize:14;
	fontWeight:bold;
	color:#666666;	
}
ExpirationDate {
 	monthWidth: 82;
	yearWidth: 66; 
}	
/*-- End General styles --*/


/*-- Payment Info styles --*/
.transactionsBox {
	backgroundColor:#ededed;
	borderStyle:solid;
	borderColor:#ededed;
	cornerRadius:6;
	paddingTop:5;
	verticalGap:0;	
}
.transactionLinkBar {
	fontSize:10;
	fontWeight:normal;
	color:#999999;
	disabledColor:#333333;	
}
.transactionLinkButton {
	fontSize:10;
	fontWeight:normal;
	color:#333333;
	disabledColor:#999999;	
}
.paymentsBtnBox {
	paddingTop:2;
	paddingBottom:2;
	horizontalAlign:center;
	borderColor:#CCCCCC;
	borderSides:'bottom,left,right';
	borderStyle:solid;
}		
.addBtn {
	fontFamily: silkScreen;
	fontSize:8;
	fontWeight:normal;
	color:#333333;	
}
.irTitle {
	fontSize:14;
	fontWeight:bold;
	color:#333333;	
}
.irDesc {
	fontSize:10;
	color:#666666;	
}
.checkBtn {
	skin: Embed("/assets/images/new_icons/nav/check.png");	
}
.creditCardBtn {
	skin: Embed("/assets/images/new_icons/nav/creditcard.png");	
}
/*-- End Payment Info styles --*/


/*-- Dynamic Agreement styles --*/
.agreementPage {
	verticalGap: 5;
	paddingRight: 10;
	paddingLeft: 10; 
	paddingBottom: 15;
}
.agreementText {
	fontSize: 10;	
}
.confirmationText {
	fontSize: 10;
	fontWeight: bold;	
}		
.darkBox {
	paddingTop: 10;
	paddingBottom: 10;
	paddingRight: 10;
	paddingLeft: 10;
	verticalAlign: top;
	backgroundColor: #f3f3f3;	
}
.lightBox {
	paddingTop: 10;
	paddingBottom: 10;
	paddingRight: 10;
	paddingLeft: 10;
	verticalAlign: top;
	backgroundColor: #ffffff;
}
.initialsHBox {
	paddingLeft: 15;
	verticalAlign: top;	
}
.initialsLabel {
	fontSize: 9;	
}
/*-- End Dynamic Agreement styles --*/


/*-- Completed Box styles --*/
.completedBox {
	cornerRadius:6;
	borderColor:#FFFFFF;
	borderStyle:solid;
	backgroundColor:#CCCCCC;
	backgroundAlpha:0.9;  
	verticalAlign:middle; 
	horizontalAlign:center;	
}
.completeBoxTitle {
	fontSize:12;
	textAlign:center; 
	color:#333333;	
}
.linkBox {
	cornerRadius:6;
   	highlightAlphas: 0.82, 0;
   	fillAlphas: 0.6, 1, 0.7, 0.91;
   	fillColors: #ffffff, #999999, #ffffff, #eeeeee;
	paddingTop:5px;
	paddingBottom:5px;
	paddingLeft:10px;
	textAlign:left;	
}
/*-- End Completed Box styles --*/

/*-- Show Duplicates styles --*/
.dupsList {
	alternatingItemColors: #ffffff, #f0f0f0;
}
.choiceBtn {
	fontSize:10;
	fontWeight:normal;
	alpha:0.5;
}
.choiceBtnProceed {
	fontSize:14;
	fontWeight:normal;
   	fillAlphas: 0.6, 1, 0.7, 0.91;
   	fillColors: #5B9421, #3E7C00, #ffffff, #eeeeee;
}
/*-- End Show Duplicates styles --*/