<?xml version="1.0" encoding="UTF-8"?>

<sandbox>
	<authURL>https://demo-auth.blue-swarm.com/amfphp/gateway.php</authURL>
<!--	<authURL>https://client1-auth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://nrcc-auth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://whitman-auth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://whitman-testauth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://whitman-auth.enilssonator.com/amfphp/gateway.php</authURL>-->
	<appInstanceID>2</appInstanceID>
	<appName>BlueSwarm</appName>
	<appLogo>assets/images/logos/BlueSwarm_logo_noicon.png</appLogo>
	<orgName>Ipsum 2010</orgName>
	<orgLogo>assets/images/logos/blueswarm_bee.png</orgLogo>
	<orgURL>assets/images/logos/Ipsum2010.png</orgURL>
	<debug>false</debug>
</sandbox>