<?xml version="1.0" encoding="UTF-8"?>

<sandbox>
	
<!--	<authURL>https://client1-auth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://whitman-auth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://whitman-testauth.blue-swarm.com/amfphp/gateway.php</authURL>-->
<!--	<authURL>https://demo-auth.blue-swarm.com/amfphp/gateway.php</authURL>-->
	<authURL>https://labs-auth.enilssonator.com/amfphp/gateway.php</authURL>
	<appInstanceID>1</appInstanceID>
	<appName>BlueSwarm</appName>
	<appLogo>https://assets.blue-swarm.com/images/app_logo.png</appLogo>
	<orgName>Ipsum 2010</orgName>
	<orgLogo>https://assets.blue-swarm.com/images/default_client_ui_image.png</orgLogo>
	<orgURL>http://www.blue-swarm.com</orgURL>
	<debug>true</debug>
</sandbox>